/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#firstpage {
    width: 1512px;
    height: 700px;
	overflow: hidden;
	border-bottom: 8px solid rgb(94, 92, 92);
}

#back1 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1.25) translateY(-10%);
}
#backcon {
	width: 100%;
	height: 700px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#all {
	width: 1512px;
	height: 4000px;
}

#header {
	width: 1512px;
	height: 86px;
	position: absolute;
	top: 0;
	/* border: 1px solid blue; */
	z-index: 2;
}

#topbar {
	width: 1164px;
	height: 100%;
	margin: 0 auto;
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
}

#selectbox {
	width: 126px;
	height: 32px;
	border: 1px solid rgba(128,128,128,0.7);
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
}

#iconbox {
	width: 16px;
	height: 16px;
	/* border: 1px solid pink; */
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

#loginbutton {
	width: 68px;
	height: 32px;
	margin-left: 24px;
	border-radius: 0.25rem;	
	color: white;
	background-color: red;
	font-size: 0.875rem;
	font-weight: 500;
	text-align: center;
	line-height: 32px;
}

a { text-decoration: none; color: white;}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

#maincontainer {
	width: 741px;
	height: 236px;
	/* border: 1px solid red; */
	position: absolute;
	top: 34%;
	left: 26%;
	z-index: 2;
	text-align: center;
}

h1 {
	color: white;
	font-size: 3rem;
	font-weight: 900;
	margin: 0px;
}

#maininnercontainer {
	width: 100%;
	height: 102px;
	margin-top: 30px;
	/* border: 1px solid green; */
}

#maininnerdiv {
	width: 680px;
	height: 100%;
	margin: 0 auto;
	/* border: 1px solid pink; */
}

#emaildiv {
	width: 586px;
	height: 56px;
	margin-left: 45px;
	margin-right: 45px;
	margin-top: 20px;
	/* border: 1px solid aqua; */
	display: flex;
	align-items: center;
}

#emailinput {
	width: 422px;
	height: 56px;
	border: 1px solid rgba(128,128,128,0.7);
	border-radius: 0.25rem;
	background: rgba(22, 22, 22, 0.7);
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.7);
	padding-left: 10px;
}

#emailbutton {
	width: 147px;
	height: 56px;
	font-size: 1.5rem;
	font-weight: 500;
	color: white;
	background-color: red;
	border: none;
	border-radius: 0.25rem;
	margin-left: 8px;
	display: flex;
	align-items: center;
}

#buttontext {
	margin: 0 auto;
	display: flex;
	align-items: center;
}